/*
COLOR PALETTE
https://coolors.co/f7fff7-343434-2f3061-ffe66d-a1c6d7
#F7FFF7 - almost white
#343434 - dark gray - almost black
#2F3061 - blue dark
#FFE66D - yellow
#A1C6D7 - blue light
*/

/*Global Styles
-------------------------------------------*/
body {
 color: #343434;
}

img {
    width: 300px;
}

a {
    color: #FFE66D;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.content-wrap {
    width: 800px;
    margin: 0 auto;
}

/*Profile
-------------------------------------------*/
header {
    background-color: #2F3061;
    color: #F7FFF7;
}

/*Projects
-------------------------------------------*/
.projects {
    background-color: #F7FFF7;
}

.projects p a {
    color: #2F3061;
    text-decoration: underline;
}

.projects p a:hover {
    text-decoration: none;
}

.projects .btn {
    background-color: #2F3061;
    color: #F7FFF7;
    padding: 8px;
    border-radius: 4px;
}

.projects .btn:hover {
    text-decoration: none;
    background-color: rgba(47, 48, 97, 80%);
}

/*Work Experience
-------------------------------------------*/
.work-experience {
    background-color: #A1C6D7;
}

/*Education
-------------------------------------------*/

/*Contact
-------------------------------------------*/
footer {
    background-color: #343434;
    color: #FFE66D;
}